
.btn {
  background-color: rgb(165, 115, 58);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  z-index: 1000;
}

#navbar .dropdown-menu{
  z-index: 1000;
}
/* ========== HERO SECTION ========== */
#hero {
    position:relative;
    min-height: 150vh;
    overflow: hidden;
}

/*hero bg*/
.hero-bg {
    background-image: url("../images/Ernst_Muldashev/buddha-the.jpg") ;
    background-size: 120%;
    background-position: 50% 30%;
    background-attachment: fixed;
    position: absolute;
    inset: 0;
    z-index: -2;
}

/* overlay */
.overlay {
    background-color: rgba(37, 24, 4, 0.55);
    position: absolute;
    inset: 0;
    z-index: -1;
}



/* centered content */
.hero-content {
    padding: 30px;
    z-index: 10;
}

/* Titles */
.title {
    font-family:serif, cursive;
    font-size: 50px;
    color: white;
    margin-top: 60px;
}

.subtitle {
    font-family:serif, cursive;
    font-size: 30px;
    color: white;
    margin-top: 190px;
}

.subtitle span {
    color: var(--neon);
}

/* description text */
.lead-text {
    color: white;
    font-size: 18px;
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 160px;
}

/* button */
.hero-btn {
    padding: 12px 40px;
    margin: 50px;
    border-radius: 40px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background-color: var(--neon);
    border-color: var(--neon);
    color: #000;
}

